
{% extends 'visualize/core.html' %}
{% block content %}


<div class="col-md-2" style="text-align: center;">
	<div class="row"><h1>Freshmen</h1></div>
	<div class="row" id="westdb"><h1>0</h1></div>
	<div class="row" id="weststatus"><h1>Winning!</h1></div>
</div>
<div class="col-md-8" >
	<canvas id="myChart"></canvas>
</div>
<div class="col-md-2" style="text-align: center;">
	<div class="row"><h1>Seniors</h1></div>
	<div class="row" id="eastdb"><h1>0</h1></div>
	<div class="row" id="eaststatus"><h1>Losing!</h1></div>
	
</div>

<script>
	var ctx = document.getElementById('myChart').getContext('2d');
	var chart = new Chart(ctx, {
	  type: 'line',
	  data: {
	    datasets: [{
	      label: 'Freshmen',
	      borderColor: 'RGB(7, 31, 61)',
	      backgroundColor: 'RGBA(7, 31, 61, 0.3)',
	    }, {
	      label: 'Seniors',
	      borderColor: 'RGB(201, 151, 33)',
	      backgroundColor: 'RGBA(201, 151, 33, 0.3)'
	    }]
	  },
	  options: {
	    scales: {
	      xAxes: [{
	        type: 'realtime'
	      }]
	    },
	    plugins: {
			streaming: {
				onRefresh: function(chart) {
					abc = 1
					$.getJSON('http://172.20.10.2:8000/visualize/fetch', {}, function(data, jqXHR){
						chart.data.datasets[0].data.push({
							x: Date.now(),
							y: data.west.score
						});
						chart.data.datasets[1].data.push({
							x: Date.now(),
							y: data.east.score
						});
						$('#westdb').html('<h1>' + Math.round(data.west.peak) + ' </h1>');
						$('#eastdb').html('<h1>' + Math.round(data.east.peak) + ' </h1>')
						
						if(data.east.peak > data.west.peak) {
							$('#weststatus').html('<h1> Losing! </h1>');
							$('#eaststatus').html('<h1> Winning! </h1>');
						} else if (data.east.peak < data.west.peak) {
							$('#weststatus').html('<h1> Winning! </h1>');
							$('#eaststatus').html('<h1> Losing! </h1>');
						} else {
							$('#weststatus').html('<h1> Tie! </h1>');
							$('#eaststatus').html('<h1> Tie! </h1>');
						}
					});

				},
				delay: 2000,
				refresh: 500,
			}
		}
	  }
	});

	
</script>
{% endblock %}