
{% extends 'visualize/core.html' %}
{% block content %}


<div class="col-md-2">
	<div class="row"><h1>West Side</h1></div>
	<div class="row"><h1>100dB</h1></div>
	<div class="row"><h1>Winning!</h1></div>
</div>
<div class="col-md-8">
	<canvas id="myChart"></canvas>
</div>
<div class="col-md-2" style="vertical-align: middle;">
	<div class="row"><h1>East Side</h1></div>
	<div class="row"><h1>90dB</h1></div>
	<div class="row"><h1>Losing!</h1></div>
	
</div>

<script>
	var ctx = document.getElementById('myChart').getContext('2d');
	var chart = new Chart(ctx, {
	  type: 'line',
	  data: {
	    datasets: [{
	      label: 'West Side',
	      borderColor: 'RGB(7, 31, 61)',
	      backgroundColor: 'RGBA(7, 31, 61, 0.3)',
	    }, {
	      label: 'East Side',
	      borderColor: 'RGB(201, 151, 33)',
	      backgroundColor: 'RGBA(201, 151, 33, 0.3)'
	    }]
	  },
	  options: {
	    scales: {
	      xAxes: [{
	        type: 'realtime'
	      }]
	    },
	    plugins: {
			streaming: {
				onRefresh: function(chart) {
					chart.data.datasets.forEach(function(dataset) {
						dataset.data.push({
							x: Date.now(),
							y: Math.random()
						});
					});
				},
				delay: 3000,
				refresh: 1000
			}
		}
	  }
	});
</script>
{% endblock %}